{
    "swagger": "2.0",
    "info": {
        "title": "MobileEngagementClient",
        "description": "The wrapper for the Mobile Engagement REST APIs.",
        "version": "2014-12-01"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/test": {
            "post": {
                "tags": [
                    "Campaign",
                    "Action"
                ],
                "operationId": "Campaigns_TestSaved",
                "description": "Test an existing campaign (created with Create campaign) on a set of devices.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/AppCollectionParameter"
                    },
                    {
                        "$ref": "#/parameters/AppNameParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignKindParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/AuthorizationParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "description": "Parameters supplied to the Test Campaign operation.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CampaignTestParameters"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Test campaign queued successfully.",
                        "schema": {
                            "$ref": "#/definitions/CampaignStateResult"
                        }
                    },
                    "400": {
                        "description": "Invalid parameters or application is disabled. Check response body for details."
                    },
                    "401": {
                        "description": "Authentication error."
                    },
                    "404": {
                        "description": "No campaign was found with the specified id."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/activate": {
            "post": {
                "tags": [
                    "Campaign",
                    "Action"
                ],
                "operationId": "Campaigns_Activate",
                "description": "Activate a campaign previously created by a call to Create campaign.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/AppCollectionParameter"
                    },
                    {
                        "$ref": "#/parameters/AppNameParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignKindParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/AuthorizationParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Activated successfully.",
                        "schema": {
                            "$ref": "#/definitions/CampaignStateResult"
                        }
                    },
                    "400": {
                        "description": "Can be caused by one of the following conditions:\n\n  * Invalid parameters.\n  * Application is not enabled.\n  * Campaign not in `draft` state.\n  \nCheck response body for details.\n"
                    },
                    "401": {
                        "description": "Authentication error."
                    },
                    "404": {
                        "description": "Campaign not found."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/suspend": {
            "post": {
                "tags": [
                    "Campaign",
                    "Action"
                ],
                "operationId": "Campaigns_Suspend",
                "description": "Suspend a Reach campaign previously activated by a call to Activate campaign.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/AppCollectionParameter"
                    },
                    {
                        "$ref": "#/parameters/AppNameParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignKindParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/AuthorizationParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Suspended successfully.",
                        "schema": {
                            "$ref": "#/definitions/CampaignStateResult"
                        }
                    },
                    "400": {
                        "description": "Can be caused by one of the following conditions:\n\n  * Invalid parameters.\n  * Application is not enabled.\n  * Suspend action performed on a non scheduled campaign.\n  \nCheck response body for details.\n"
                    },
                    "401": {
                        "description": "Authentication error."
                    },
                    "404": {
                        "description": "Campaign not found."
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileEngagement/appcollections/{appCollection}/apps/{appName}/campaigns/{kind}/{id}/finish": {
            "post": {
                "tags": [
                    "Campaign",
                    "Action"
                ],
                "operationId": "Campaigns_Finish",
                "description": "Finish a Reach campaign previously activated by a call to Activate campaign.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/AppCollectionParameter"
                    },
                    {
                        "$ref": "#/parameters/AppNameParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignKindParameter"
                    },
                    {
                        "$ref": "#/parameters/CampaignIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/AuthorizationParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Finished successfully.",
                        "schema": {
                            "$ref": "#/definitions/CampaignStateResult"
                        }
                    },
                    "400": {
                        "description": "Can be caused by one of the following conditions:\n\n  * Invalid parameters.\n  * Application is not enabled.\n  * Campaign not in `in progress` state.\n  \nCheck response body for details.\n"
                    },
                    "401": {
                        "description": "Authentication error."
                    },
                    "404": {
                        "description": "Campaign not found."
                    }
                }
            }
        }
    },
    "definitions": {
        "CampaignTestParameters": {
            "properties": {
                "deviceId": {
                    "type": "string",
                    "description": "Device identifier (as returned by the SDK)."
                },
                "lang": {
                    "type": "string",
                    "description": "The language to test expressed using ISO 639-1 code. The default language of the campaign will be used if the parameter is not provided."
                }
            }
        },
        "CampaignStateResult": {
            "properties": {
                "id": {
                    "type": "integer",
                    "description": "Campaign identifier."
                },
                "state": {
                    "type": "string",
                    "description": "New state of the campaign, or 'queued' when testing a campaign."
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        },
        "AuthorizationParameter": {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token.",
            "required": true,
            "type": "string"
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
        },
        "AppCollectionParameter": {
            "name": "appCollection",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Application collection."
        },
        "AppNameParameter": {
            "name": "appName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Application resource name."
        },
        "CampaignKindParameter": {
            "name": "kind",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
                "announcements",
                "polls",
                "dataPushes",
                "nativePushes"
            ],
            "description": "Campaign kind."
        },
        "CampaignIdParameter": {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "description": "Campaign identifier."
        }
    }
}